<?xml version="1.0"?>
<RuleSet Name="Go-Logs Rules" ToolsVersion="10.0">
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.ReadabilityRules">
        <Rule Id="SA1101"  Action="None" />             <!-- Prefix local calls with this -->
        <Rule Id="SA1117"  Action="None" />             <!-- Parameters should be on same line or separate lines -->
        <Rule Id="SA1121"  Action="None" />             <!-- Use built-in type alias -->
        <Rule Id="SA1124"  Action="None" />             <!-- Do not use regions -->
    </Rules>
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.NamingRules">
        <Rule Id="SA1309"  Action="None" />             <!-- Field names should not begin with underscore -->
    </Rules>
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.MaintainabilityRules">
        <Rule Id="SA1413"  Action="None" />             <!-- Use trailing comma in multi-line initializers -->
    </Rules>
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.LayoutRules">
        <Rule Id="SA1502"  Action="None" />             <!-- Element should not be on a single line -->
    </Rules>
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.DocumentationRules">
        <Rule Id="SA1600"  Action="None" />             <!-- Elements should be documented -->
        <Rule Id="SA1623"  Action="None" />             <!-- Property summary documentation should match accessors -->
    </Rules>
</RuleSet>
